node_modules
**/node_modules
.next
**/.next
.venv
**/.venv
.git
.github
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
coverage
**/coverage
dist
**/dist
*.log
.DS_Store
.cursor
docs
infrastructure
pnpm-debug.log*
